
.container{
    background-color: rgba(0, 38, 87, 0.432);
}
#div-ativo,.div-site,#div-usuario,#div-senha{
    display: none;
}
.cupom{
    margin-top: 14%;
    display: block;
}
.div-form-img{
align-items: top;
justify-content: flex-start;
}
.titulo-img{
    margin-top: 10%;
}