
.container{
    background-color: rgba(255, 255, 255, 0.464);
}
#div-ativo,.div-site,#div-usuario,#div-senha{
    display: none;
}
.cupom{
    margin-top: 14%;
    display: block;
    width: 100%;
}

.titulo-img{
    margin-top: 5%;

}

#btn-atualizar-user,#btn-user{
 display: none;
}