.add-grupo, .add-subGrupo,.add-cor,#btn-cad-Cor,#btn-cad-grupo,#btn-cad-subGrupo{
background-color: #198754;
color: #fff;
padding: 10px 16px;
width: 8rem;
font-size: 1rem;
border: none;
border-radius: 8px;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
margin-left: 2%;
}
.add-grupo:hover,.add-subGrupo:hover,.add-cor:hover,#btn-cad-Cor:hover{
background-color: #4cae4c;
}
.btn-cadastrar-produto,#salvar-cliente,.btn-atualizar, #btn-cad-fornecedor,#filterButton,#btn-estoque,#filterButtonCrediario,#btn-cadastrar,#filtrarHistorico,#filtrarProdutos,#btn-user {
background-color: #198754;
color: #fff;
padding: 10px 16px;
width: 10rem;
font-size: 1rem;
border: none;
border-radius: 8px;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
display: flex;
align-items: center;
margin-right: 1%;
justify-content: center;
}
.btn-cadastrar-produto:hover,#salvar-cliente:hover,.btn-atualizar:hover,#btn-user:hover,#btn-cad-fornecedor:hover,#filterButton:hover,#btn-estoque:hover,#filterButtonCrediario:hover,#btn-cadastrar:hover,#filtrarHistorico:hover{
background-color: #157347;
transform: scale(1.05);
font-size: 1rem;
width: 10rem;
}
.btn-alterar-produto,#btn_atualizar,#atualizar-fornecedor,#btn-atualizar-user,#btn-senha,#btn-senha-venda,#atualizar-juros {
background-color: #002558;
color: #fff;
padding: 10px 16px;
width: 10rem;
font-size: 1rem;
border: none;
border-radius: 8px;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
display: flex;
align-items: center;
margin-right: 1%;
justify-content: center;
}
.btn-alterar-produto:hover,#btn_atualizar:hover,#atualizar-fornecedor:hover,#btn-atualizar-user:hover,#btn-senha:hover,#atualizar-juros:hover,#btn-senha-venda:hover{
background-color: #00214e;
transform: scale(1.05);
font-size: 1rem;
width: 10rem;
}
#limparButton,#filterButtonLimpar,#limparButton-info,#limparInputs {
background-color: #f1c40f;
color: #333;
padding: 10px 16px;
width: 10rem;
font-size: 1rem;
border: none;
border-radius: 8px;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
display: flex;
align-items: center;
justify-content: center;
}
#limparButton:hover,#filterButtonLimpar:hover,#limparButton-info:hover,#limparInputs:hover {
background-color: #e1b80d;
transform: scale(1.05);
width: 10rem;
font-size: 1rem;
}
.img-excluir{
    width: 20px;
    height: 20px;
}
#atualizar-juros{
    margin-top: 15%;
}
button img {
width: 20px;
height: 20px;
margin-right: 10px;
}
.img-cadeado,.img-user {
width: 20px;
height: 20px;
margin-right: 10px;
margin-left: 1%;
}

#btn-exit,#btn-exit-venda,#btn-exit-juros{
color: black;
font-size: 1.2rem;
font-weight: bold;
width: 1.875rem; /* 30px convertido para rem (considerando 16px como 1rem) */
height: 1.875rem;    
display: flex;
align-items: center;
justify-content: center;
position: absolute;
right: 0;
top: 0;
background: transparent;
border: none;
cursor: pointer;
transition: background 0.2s ease-in-out;
border-radius: 5px;
}
#btn-exit:hover,#btn-exit-venda:hover,#btn-exit-juros:hover{
background-color: #ea3748;
color: white;
}
.divBtn-horizontal{
display: flex;
gap: 2%;
}
.pagar-btn{
background-color: #198754;
color: #fff;
padding: 10px 16px;
width: 10rem;
font-size: 1rem;
border: none;
border-radius: 8px;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
display: flex;
align-items: center;
margin-right: 1%;
justify-content: center;
}
.pagar-btn:hover{
background-color: #157347;
transform: scale(1.05);
font-size: 1rem;
width: 10rem;
}

.div-btn{
    display: flex;
    margin-top: 10%;
    width: 100%;
    gap: 2%;
}