.container{
    background-color: rgba(0, 38, 87, 0.432);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color:  rgb(236, 236, 236); */
    width: 100%;
}

.div-form {
    border-radius: 10px; /* Bordas arredondadas */
    padding: .8%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
    width: 95%; 
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16vh;
    font-family: 'Courier New', Courier, monospace; /* Fonte com estilo retro */
    background-color: white;
}

#volumeDiv,#comprimentoDiv,#massaDiv,#divTamanho,#divTamanhoNUm{
    flex-direction: column;
    width: 35%;
    display: none;
    align-items: center;
 }

.div-form-display{
    flex: 1; 
    display: flex;
    gap: 15px;
    overflow-y: auto;
    width: 100%;
    height: 70vh;
    background-color: white;
}
.div-form__body {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content:center;
    gap: 15px;
    overflow: hidden;
    width: 80%;
    background-color: white;
    margin-bottom: .5%;
    padding: 1%;
    border: 1px solid rgb(230, 230, 230);
}

.div-form-img{
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-produto{
   width: 15rem;
   height: 15rem;
}

.form-group {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    gap: 1%;
    width: 100%;
}
.input-select-wrapper{
    display: flex;
}
    #fornecedor {
        appearance: none; 
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: white; 
        color: black;
        padding: 8px;
        border: 1px solid #ccc;
        cursor: not-allowed; 
    }
    
    /* Adiciona um ícone visual opcional para manter o layout */
    #fornecedor::after {
        content: '▼'; /* Ícone de seta customizada (opcional) */
        font-size: 14px;
        color: black;
        position: absolute;
        right: 10px;
        pointer-events: none;
    }
    
    .div-grupo,.div-subGrupo,.div-Cor{
        position: absolute;
        z-index: 9999;
        top: 45%;
        width:40%;
        left:30%;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 3rem; /* 20px em rem */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
        border-radius: 0.5rem; /* 8px em rem */
        background-color:  rgb(239, 239, 239);;
        flex-direction: column;
        font-size: 1.2rem;
        }
    
    .newGrupo,.newSubGrupo,.newCor{
        margin: 3%;
    }

    .titulo-img{
       color:  rgb(0, 38, 87);
       font-weight: 700;
       font-size: 1.2rem;
       margin-bottom: 2%;
    }

