:root{
    --input-readonly: rgb(232, 232, 232);
}
input[readonly], input:disabled, select:disabled {
    background-color: var(--input-readonly);
}

input[type="number"] {
    -moz-appearance: textfield; 
    -webkit-appearance: none; 
    appearance: none; 
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
label {
    font-size: 1.1rem;
    margin-bottom: 10px; 
    display: block; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
#filtrar{
    margin-top: -1%;
}
#labelFornecedor{
    margin-top: 1%;
}
input,
select {
    width: 100%;
    padding: .5%; /* Ajusta o preenchimento */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.1rem;
    height: 2.25rem; 
    box-sizing: border-box; 
    align-items: center;
    text-align: center;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}

select{
    margin-left: 1%;
}

input:focus {
    border-color: #000000; 
    outline: none;
}
#produto-imagem{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0); 
}
#desconto{
    width: 40%;
}
.produto-imagem{
    font-size: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0); 
}

.div-nomeProduto{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#divColor{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.input-select-wrapper{
    width: 100%;
}
#divFornecedor{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#div-slogan{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#div-qr_code_img{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#div-cnpj{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#divGrupo, #divSubGrupo{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
/* div-inputs controla a largura */
#grupos-inputs{width: 50%;}
#fornecedor,.estoqueReadonly,.precoCusto{
background-color:var(--input-readonly);}
#estoqueDiv{width: 40%;}
#divCnpj,#div-ie{ width:20%;}
#div-cpf{width: 25%;}
#div-nome{width: 50%;}
#div-tel{width: 30%;}
#div-email{width: 50%;}
.div-produtoEncontrado{width: 50%;}
.div-precoCompra{width: 20%;}
.div-qtdeMovimentacao{width: 25%;}
.selectSituacao{width: 35%;}
.dataMovimentacao{width: 25%;}
#div-logradouro{width: 55%;}
#div-bairro{width: 30%;}
#div-uf{width: 15%;}
#div-cidade{width: 35%;}
.div-codigoDeBarras{width: 28%;}
#div-ie{width: 25%;}
#div-pessoa,#div-alterar{width: 20%;}
#div-ativo{width: 25%;}
#div-tipo_usuario{width: 20%;}
#div-razoSocial{width: 55%;}
#div-atividade{width: 40%;}
#div-fantasia{width: 55%;}
#div-ocupação{width: 30%;}

#cnpjInfo{font-size: 1rem;}

input[type="radio"] {
    transform: scale(0.8); /* Reduz o tamanho em 80% */
    margin-right: 2%;
    width: 10%;
    height: 1rem;
}
