        .cupom {
                display: none;
                width: 80mm;
                padding: 0px 15px;
                font-size: 12px;
                border-top: 1px dashed #000;
                position: absolute;
                top: 0;
                z-index: 9999;
                color: #000000;
                background-color: white;
            }
            
            .cabecalho, .rodape {
                text-align: center;
                display: flex;
                flex-direction: column;
            }
            
            .cabecalho , .dados , .rodape p {
                font-size: 12px;
                margin: 4px 0;
                display: flex;
                flex-direction: column;
            }
            
            
            .itens-venda {
                border-top: 1px dashed #000;
                margin-top: 10px;
                padding-top: 8px;
            }
            
            .total {
                margin-top: 8px;
                border-top: 1px dashed #000;
                padding-top: 8px;
                display: flex;
                flex-direction: column;
            }

            .total-span{
                display: flex;
                justify-content: space-between;
            }
            
            .total div {
                display: flex;
                justify-content: space-between;
                padding: 4px 0;
            }
            
            .rodape {
                border-top: 1px dashed #000;
                padding-top: 8px;
            }
             .text-recebi {
                margin-top: 5px;
                text-align: center;
                padding-top: 8px;
                font-size: 10px;
                margin-bottom: 20px;
                display: flex;
                width: 100%;
            }
            
            
            .text-assinatura{
                display: flex;
                justify-content: center;
                margin-top: 5px;
                text-align: center;
                padding-top: 0px;
                font-size: 10px;
                margin-bottom: 10px;
                display: flex;
                width: 100%;
                color: black;
            }
            
            .text-recebi {
                margin-top: 12px;
                border-top: 1px dashed #000;
                text-align: center;
                padding-top: 8px;
                font-size: 12px;
                margin-bottom: 22px;
                color: black;
            }
            
            .text-acesse {
                font-size: 10px;
                margin-bottom: 15px;
                font-weight: bold;
                padding-bottom: 8px;
            }
            
            .imgQr {
                width: 120px;
                height: auto;
                margin: 5px auto;
                display: block;
            }
            
            .text-slogan {
                border-top: 1px dashed #000;
                padding: 8px;
                text-align: center;
            }
            
            .titulo-cupom {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-weight: bold;
                gap: 10px;
                color: #000;
            }
            
            .div-titulo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding-top: 12px;
            }
            
            .imgLogo {
                width: 60px;
                height: auto;
                vertical-align: middle;
            }
            
            .item-venda {
                display: flex;
                font-size: 12px;
                gap: 6px;
                justify-content: space-between;
            }
            
            .item-venda span {
                margin-top: 4px;
            }
            
            .span-qup {
                gap: 3px;
            }
            
            .carne-cred{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 3%;
            }

            .carne-cred{
                border-top: 1px solid black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 3%;
                width: 100%;
                padding-bottom: 2%;
            }
            .parcela-info{
                display: flex;
                justify-content: center;
                margin-top: 3%;
                gap: 2%;
                font-size: .8rem;
            }
            .tituloCred{
                display: flex;
                width: 100%;
                justify-content: center;
                text-align: center;
                margin-top: 3%;
            }
            
            @media print {
                @page {
                    margin: 0;
                }
                body {
                    visibility: hidden;
                }
                .cupom {
                    visibility: visible;
                }
                .cupom * {
                    visibility: visible;
                }
            }
            