.payment-form-section {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 60.5rem; /* 600px em rem */
    z-index: 999;
    padding: 1.5rem; /* 20px em rem */
    background-color: #fff;
    border-radius: 0.5rem; /* 8px em rem */
    box-shadow: 0 0.75rem 1.5625rem rgba(0, 0, 0, 0.5); /* 12px x 25px */
}

.div-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1.25rem; /* 20px em rem */
    border: 1px solid #ccc;
    border-radius: 0.5rem; /* 8px em rem */
    background-color: #f9f9f9;
}


.titulo-choose-item-2 {
    font-size: 1.2rem; /* 1.2em em rem */
    margin-bottom: 0.625rem; /* 10px em rem */
    color: #ffffff;
    width: 100%; 
    display: flex;
    text-align: center;
    justify-content: center;
    background-color:rgb(5, 90, 0);
    padding: 2%;
    border-radius: 5px;
    font-weight: normal;
}

.info-pag {
    font-size: 1rem;
    margin-bottom: 0.625rem;
    color: #000000;
    width: 100%; 
    display: inline-block; 
    text-align: center;
    background-color: rgb(229, 229, 229);
    padding: 2%; 
    margin-top: 3%;
    border-radius: 5px;
    font-weight: normal;
    white-space: nowrap;
    justify-content: center;
}

.div-choose {
    margin-bottom: 0.9375rem; /* 15px em rem */
}

.opcoes-pagamento {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 2%;
    border-radius: 0.5rem;
}

.opcoes-pagamento div {
    width: 45%;
    
}

.opcoes-pagamento p {
    font-size: 1rem; /* 1em em rem */
    color: #666;
    
}

.pagamento-container {
    display: flex;
    flex-direction: column;
   
}

.pagamento-default {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px em rem */
}

.pagamento-default-1 {
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
}

.pagamento-default-1 label {
    font-size: 1rem; /* 1em em rem */
    color: #333;
    width: 12.5rem; /* 200px em rem */
}

.pagamento-default-1 input {
    padding: 0.5rem; /* 8px em rem */
    font-size: 1rem; /* 1em em rem */
    border: 1px solid #ccc;
    border-radius: 0.25rem; /* 4px em rem */
    width: 100%;
}

.pagamento-default-1 input:focus {
    border-color: #007BFF;
    outline: none;
}


#div-valorDinheiro,
#div-PIX,
#div-Cartao-Debito,
#div-Cartao-Credito,
#div-Crediario{
    display: none;
}

#div-Desconto.active,
#div-valorDinheiro.active,
#div-PIX.active,
#div-Cartao-Debito.active,
#div-Cartao-Credito.active,
#div-Crediario.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* 4px 6px em rem */
    padding: 0.625rem; /* 10px em rem */
    border-radius: 0.3125rem; /* 5px em rem */
}

.titulo-dinheiro,
.titulo-pix,
.titulo-cartao-c,
.titulo-cartao-d,
.titulo-pix,
.titulo-crediario
.finalizar {
    font-size: 1.1rem; /* 1.1em em rem */
    margin-bottom: 0.3125rem; /* 5px em rem */
}

#div-valorDinheiro input,
#div-PIX input,
#div-Cartao-Debito input,
#div-Cartao-Credito input,
#div-Crediario input,
#creditoUtilizado input,
#creditoLimite input
{
    max-width:50.75rem; 
    text-align: center;
}
#valorDinheiro,#Cartao-Credito,#Cartao-Debito,#PIX,#Crediario,#Crediario-valor,#Crediario-valor input,
#Crediario-parcela,#Crediario-cliente, #vencimentos,#creditoUtilizado,
#creditoLimite{
    font-size: 1.3rem;
}

.inputs-container div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.pagamento{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}
.atalhos-p {
    color: white;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 1.9%;
    border-bottom: 1px solid white;
}
p{
   margin-bottom: 1%;
}

h3 {
    color: white;
    font-weight: normal;
    margin-bottom: 3%;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
}

